
.clock {
  background: url('https://media.licdn.com/dms/image/C4E12AQFZVEk6P9KRMA/article-cover_image-shrink_720_1280/0/1641681210389?e=2147483647&v=beta&t=lasppNFeVu2mJffqF03Zx_a2SeI8vcHGHwv6wnr-w7I');
  width: auto;
}

  
  .countdown-container {
    display: flex;
    flex-direction: row !important;
    gap: 5px;
    width: 100%;
    
    max-width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    border: 5px solid hwb(56 0% 3%);
    width: 160px;
    height: 160px;
    border-radius: 99px;
  }
  
  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 2.5em; 
    margin: 10px 0;
  }
  
  .days-label,
  .hours-label,
  .minutes-label,
  .seconds-label {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: none;
   
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 800px) {
    .countdown-container {
      max-width: 90%;
    }
    
    .days-container,
    .hours-container,
    .minutes-container, 
    .seconds-container {
      font-size: 0.8em;
      width: 200px;
      height: 200px;
    }
  }
  
  @media (max-width: 600px) {
    .countdown-container {
      flex-direction: column;
      align-items: center;
    }
  
    .days-container,
    .hours-container,
    .minutes-container, 
    .seconds-container {
      width: 80px;
      height: 80px;
    }
  
    .start-button {
      width: 100%;
      font-size: 0.9em;
    }
  }
  
@media screen and (min-width: 1150px) {
  .clock{
    width: 1700px;
  }
}


.br_p {
  font-size: 16px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 0;
}
