/* Demo Stuff */
*,:before,:after{
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

.social-container {
  padding: 40px 0;
  cursor: none;
}

/* Add this ID to a section or something you want to change the background-color */
#social-section {
  padding: 60px 0;
  transition: all .2s ease-out;
  cursor: grab;
}

/* Hover background colors */
.color-twitter {
  
  background-color: #00aced !important;
}
.color-facebook {
  background-color: #3b5998 !important;
}
.color-pinterest {
  background-color: #cc2127 !important;
}
.color-instagram {
  background-color: #417399 !important;
}

.color-twitter,
.color-facebook,
.color-pinterest,
.color-instagram {
  transition: all .2s ease-in;
}

@media screen and (min-width: 1150px) {
  h2{
    font-size: 40px;
  }
}